<h2>my<strong><i>kit</i></strong></h2>
<i>show user name</i>

<h3>inventory</h3>
list equipped or saved kits in list

<p>
  <i><%= link_to 'new kit', new_bag_path %></i> | <i><%= link_to 'kit exchange', bags_path %></i>  
</p>
<ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
</ul>
