<table>
  <tr>
    <th>created</th>
    <th>updated</th>
    <th>crafted by</th>
  </tr> 
  <td><%= @bag.created_at %></td> 
  <td><%= @bag.updated_at %></td> 
  <td><%= @bag.user.email unless @bag.user %></td> 
</table>