/*
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.btn{
  border:0px solid transparent;
}

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}